.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  width: 100px;
  height: auto;
}

.card-this {
  width: 18rem;
  margin: auto;
}

.footer {
  background-color: #ddd;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.navbar-dark {
  background-color: #333;
}

.link,
.card-text,
.link :hover {
  color: #444;
  text-decoration: none;
  text-decoration-style: none;
}
